packages:
  yum:
    certbot: []  # Remove epel-release as it's not needed for Amazon Linux 2

commands:
  01_get_cert:
    command: "certbot certonly --nginx --non-interactive --agree-tos -m rahul1908.dev@gmail.com -d Sample-app-env-1.eba-endpknai.ap-south-1.elasticbeanstalk.com"
  02_setup_cron:
    command: "echo '0 12 * * * /usr/bin/certbot renew --quiet' | crontab -"

files:
  "/etc/nginx/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 443 ssl;
          server_name Sample-app-env-1.eba-endpknai.ap-south-1.elasticbeanstalk.com;

          ssl_certificate /etc/letsencrypt/live/Sample-app-env-1.eba-endpknai.ap-south-1.elasticbeanstalk.com/fullchain.pem;
          ssl_certificate_key /etc/letsencrypt/live/Sample-app-env-1.eba-endpknai.ap-south-1.elasticbeanstalk.com/privkey.pem;

          location / {
              proxy_pass http://localhost:8080;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }

      server {
          listen 80;
          server_name Sample-app-env-1.eba-endpknai.ap-south-1.elasticbeanstalk.com;
          return 301 https://$host$request_uri;
      }
